Repository williaby/zen-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration, Utility Modules, System Prompts, Server Core Logic, Configuration Management

Path conditions:
  unit: any of: .
  integration: any of: .
  simulator: any of: .
  MCP Tools (Core & Custom): any of: tools/
  AI Provider Integration: any of: providers/
  Utility Modules: any of: utils/
  System Prompts: any of: systemprompts/
  Server Core Logic: any of: server.py, server_setup.py
  Configuration Management: any of: conf/, config/

Implement comprehensive centralized band framework for model selection
  docs/models/README.md
  docs/models/automated_evaluation_criteria.py
  docs/models/bands_config.json
  docs/models/centralized_bands_example.md
  docs/models/coding_specialists.csv
  docs/models/free_models.csv
  docs/models/model_allocation_config.yaml
  docs/models/model_evaluation_example.md
  docs/models/model_selection_framework.md
  docs/models/models.csv
  docs/models/models_by_context.csv
  docs/models/models_by_cost.csv
  docs/models/models_schema.json
  docs/models/protected_model_examples.md
  tools/custom/dynamic_model_selector.py
Due: MCP Tools (Core & Custom)

Add remaining development files and model configuration updates
  conf/custom_models.json
  docs/custom-tool-updates.md
  docs/ideas/model_selector.md
Due: Configuration Management

$(cat <<'EOF' Add comprehensive documentation for custom consensus tools
  docs/tools/custom/README.md
  docs/tools/custom/basic_consensus.md
  docs/tools/custom/critical_consensus.md
  docs/tools/custom/dynamic_model_selector.md
  docs/tools/custom/layered_consensus.md
  docs/tools/custom/model_evaluator.md
  docs/tools/custom/quickreview.md
  docs/tools/custom/review_consensus.md
Due: none

feat(tools): add PR preparation and review custom tools with comprehensive documentation
  docs/models/band_assignments_cache.json
  docs/models/cost_tier_assignments_cache.json
  docs/tools/custom/README.md
  docs/tools/custom/pr_prepare.md
  docs/tools/custom/pr_review.md
  evaluate_model.py
  test_model_evaluator.py
  test_model_evaluator_premium.py
Due: none

fix: handle fork PR permissions in Docker workflow
  .github/workflows/auto-version.yml
Due: unit, integration, simulator

rename: auto-version.yml → docker-pr.yml for clarity
  .github/workflows/docker-pr.yml
Due: unit, integration, simulator

feat: streamline docker-pr workflow with label support
  .github/workflows/docker-pr.yml
Due: unit, integration, simulator

fix: remove fork PR comment step due to permission restrictions
  .github/workflows/docker-pr.yml
Due: unit, integration, simulator

docs: update model references and add missing GPT-5 and Gemini 2.0 models
  docs/advanced-usage.md
  docs/tools/analyze.md.bak
  docs/tools/chat.md.bak
  docs/tools/codereview.md.bak
  docs/tools/debug.md
  docs/tools/precommit.md.bak
  docs/tools/refactor.md.bak
  docs/tools/secaudit.md.bak
  docs/tools/testgen.md.bak
  docs/tools/thinkdeep.md.bak
Due: none

docs: major README refactor and comprehensive documentation improvements
  README.md
  docs/getting-started.md
Due: none

docs: remove backup files from cherry-pick
  docs/tools/analyze.md.bak
  docs/tools/chat.md.bak
  docs/tools/codereview.md.bak
  docs/tools/precommit.md.bak
  docs/tools/refactor.md.bak
  docs/tools/secaudit.md.bak
  docs/tools/testgen.md.bak
  docs/tools/thinkdeep.md.bak
Due: none

chore: remove obsolete scripts directory
  .dockerignore
  scripts/bump_version.py
Due: unit, integration, simulator

Update README.md
  README.md
Due: none

Update docs/advanced-usage.md
  docs/advanced-usage.md
Due: none

docs: add PATH environment variable to uvx configuration
  README.md
Due: none

fix: align PR template with actual semantic-release and Docker workflows
  .github/pull_request_template.md
Due: unit, integration, simulator

Deprecate old consensus tools and consolidate documentation
  docs/custom-tool-updates.md
  docs/development/adrs/criticalreview.md
  docs/development/adrs/quickreview.md
  docs/development/adrs/review.md
  docs/development/custom-tools.md
  docs/tools/custom/README.md
  docs/tools/custom/basic_consensus.md
  docs/tools/custom/critical_consensus.md
  docs/tools/custom/layered_consensus.md
  docs/tools/custom/model_evaluator.md
  docs/tools/custom/quickreview.md
  docs/tools/custom/review_consensus.md
  tools/custom/quickreview.py
  tools/custom/test_quickreview.py
Due: MCP Tools (Core & Custom)

feat: implement Phase 1 rate limit detection and intelligent fallback system
  docs/deployment/wsl-setup.md
  docs/development/adrs/README.md
  docs/development/adrs/future-roadmap.md
  docs/development/adrs/prepare-pr-adr.md
  docs/development/fork-setup.md
  docs/ideas/model_selector.md
  docs/models/README.md
  docs/models/automated_evaluation_criteria.py
  docs/models/centralized_bands_example.md
  docs/models/coding_specialists.csv
  docs/models/current-models.md
  docs/models/free_models.csv
  docs/models/model_evaluation_example.md
  docs/models/model_selection_framework.md
  docs/models/models_by_context.csv
  docs/models/models_by_cost.csv
  docs/models/protected_model_examples.md
  docs/setup-guide.md
  evaluate_model.py
  test_model_evaluator.py
  test_model_evaluator_premium.py
  tools/custom/dynamic_model_selector.py
  tools/custom/layered_consensus.py
  validate_codecov.py
Due: MCP Tools (Core & Custom)

docs: update model_evaluator documentation to reflect WorkflowTool architecture
  docs/tools/custom/model_evaluator.md
Due: none

refactor: consolidate model_evaluator and cleanup related components
  docs/models/automated_evaluation_criteria.py
  evaluate_model.py
  simulator_tests/test_planner_validation_old.py
  tools/custom/dynamic_model_selector.py
  tools/custom/layered_consensus.py
Due: MCP Tools (Core & Custom)

docs: reduce project CLAUDE.md context by 77% to optimize token usage
  CLAUDE.md
Due: none

refactor: apply code formatting and add new tools/tests
  claude_config_with_safety_example.json
  docs/models/automated_evaluation_criteria.py
  evaluate_model.py
  patch/validation_crossplatform.py
  providers/custom.py
  providers/dial.py
  providers/openai_compatible.py
  providers/openai_provider.py
  providers/openrouter.py
  providers/openrouter_registry.py
  providers/xai.py
  server.py
  tests/test_conversation_missing_files.py
  tests/test_disabled_tools.py
  tests/test_file_protection.py
  tests/test_pr_review.py
  tools/shared/base_tool.py
  validate_codecov.py
Due: MCP Tools (Core & Custom), AI Provider Integration, Server Core Logic

feat: streamline tool schemas and reduce verbose field descriptions
  tools/chat.py
  tools/consensus.py
  tools/shared/base_tool.py
  tools/thinkdeep.py
Due: MCP Tools (Core & Custom)

feat: consolidate system prompt instructions to reduce redundancy
  systemprompts/chat_prompt.py
  systemprompts/shared_instructions.py
  systemprompts/thinkdeep_prompt.py
Due: System Prompts

style: apply Black/Ruff formatting to custom tools
  tools/custom/__init__.py
  tools/custom/dynamic_model_selector.py
  tools/custom/layered_consensus.py
Due: MCP Tools (Core & Custom)

feat(hub): implement Zen MCP Hub for 80-90% context reduction in Claude Code
  CONTEXT_REDUCTION_RESULTS.md
  hub/__init__.py
  hub/config/__init__.py
  hub/config/hub_settings.py
  hub/config/tool_mappings.py
  hub/dynamic_function_loader.py
  hub/mcp_client_manager.py
  hub/task_detection.py
  hub/task_detection_config.py
  hub/tool_filter.py
  hub_server.py
  requirements-hub.txt
  test_context_reduction.py
  test_hub.py
Due: none

docs: add Claude Code integration guide and configuration details
  CLAUDE_CODE_INTEGRATION.md
Due: none

test: verify dynamic tool selection and MCP server routing functionality
  hub/__init__.py
  hub/config/__init__.py
  hub/config/hub_settings.py
  hub/config/tool_mappings.py
  hub/dynamic_function_loader.py
  hub/mcp_client_manager.py
  hub/task_detection.py
  hub/tool_filter.py
  hub_server.py
  systemprompts/chat_prompt.py
  systemprompts/shared_instructions.py
  systemprompts/thinkdeep_prompt.py
  test_context_reduction.py
  test_hub.py
  test_simulation_files/api_endpoints.py
  test_simulation_files/auth_manager.py
  test_simulation_files/config.json
  test_simulation_files/test_module.py
Due: System Prompts

worktree gitignore
  .gitignore
Due: unit, integration, simulator

update gitignore
  .gitignore
Due: unit, integration, simulator

chore(release): 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

Cleanup
  README.md
Due: none

Added recommendation
  README.md
Due: none

Removed test files
  test_simulation_files/api_endpoints.py
  test_simulation_files/auth_manager.py
  test_simulation_files/config.json
  test_simulation_files/test_module.py
Due: none

Further improvements to precommit to ensure required steps are followed precisely
  tools/precommit.py
Due: MCP Tools (Core & Custom)

feat: improvements to precommit fix: version
  .github/workflows/semantic-release.yml
  config.py
  pyproject.toml
  scripts/sync_version.py
Due: unit, integration, simulator

chore(release): 1.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: establish version 5.8.6 and add version sync automation
  pyproject.toml
  scripts/sync_version.py
Due: none

fix: restore proper version 5.8.6
  config.py
  pyproject.toml
Due: none
