Repository williaby/zen-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration, Utility Modules, System Prompts, Server Core Logic, Configuration Management

Path conditions:
  unit: any of: .
  integration: any of: .
  simulator: any of: .
  MCP Tools (Core & Custom): any of: tools/
  AI Provider Integration: any of: providers/
  Utility Modules: any of: utils/
  System Prompts: any of: systemprompts/
  Server Core Logic: any of: server.py, server_setup.py
  Configuration Management: any of: conf/, config/

feat(ci): add container security scanning workflow
  .github/workflows/container-security.yml
Due: unit, integration, simulator

feat(ci): add dependency review workflow
  .github/workflows/dependency-review.yml
Due: unit, integration, simulator

ci: emit the missing Dependency & Standards Validation context
  .github/workflows/dependency-standards-validation.yml
Due: unit, integration, simulator

fix(deps): repair uv sync resolution and cap mcp below 2.x
  pyproject.toml
  requirements.txt
Due: none

fix(ci): resolve ruff format drift and pre-commit/CI formatter conflict
  .github/workflows/ci.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CUSTOM_TOOLS_REVIEW.md
  communication_simulator_test.py
  docs/adding_tools.md
  docs/contributions.md
  docs/custom-tool-updates.md
  docs/development/adrs/centralized-model-registry.md
  docs/development/adrs/dynamic-model-availability.md
  docs/development/adrs/tiered-consensus-implementation.md
  docs/development/custom-tools.md
  docs/models/README.md
  docs/tools/custom/dynamic_model_selector.md
  docs/vcr-testing.md
  server.py
  tests/test_alias_target_restrictions.py
  tests/test_auto_mode_comprehensive.py
  tests/test_auto_mode_custom_provider_only.py
  tests/test_auto_mode_provider_selection.py
  tests/test_buggy_behavior_prevention.py
  tests/test_custom_openai_temperature_fix.py
  tests/test_deploy_scripts.py
  tests/test_docker_healthcheck.py
  tests/test_docker_implementation.py
  tests/test_docker_security.py
  tests/test_model_enumeration.py
  tests/test_model_resolution_bug.py
  tests/test_o3_temperature_fix_simple.py
  tests/test_openrouter_provider.py
  tests/test_promptcraft_mcp_integration.py
  tests/test_provider_routing_bugs.py
  tests/test_routing_scenarios.py
  tests/test_routing_system.py
  tests/test_thinking_modes.py
  uv.lock
Due: unit, integration, simulator, Server Core Logic

fix(ci): repin python-ci.yml and disable no-build for editable install
  .github/workflows/ci.yml
Due: unit, integration, simulator
