Repository williaby/zen-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration, Utility Modules, System Prompts, Server Core Logic, Configuration Management

ci: add PR validation workflow (WF-4)
  .github/workflows/pr-validation.yml
Due: unit, integration, simulator

ci: add CodeQL security analysis workflow (WF-5)
  .github/workflows/codeql.yml
Due: unit, integration, simulator

ci: add SBOM and security scan workflow (WF-6)
  .github/workflows/sbom.yml
Due: unit, integration, simulator

ci: add OpenSSF Scorecard workflow (WF-7)
  .github/workflows/scorecard.yml
Due: unit, integration, simulator

ci: add CI gate workflow (WF-8)
  .github/workflows/ci.yml
Due: unit, integration, simulator

ci: add Python compatibility matrix workflow (WF-9)
  .github/workflows/python-compatibility.yml
Due: unit, integration, simulator

ci: rename semantic-release.yml to release.yml (WF-12 standard, EV-2)
  .github/workflows/release.yml
Due: unit, integration, simulator

ci: remove semantic-release.yml (renamed to release.yml, EV-2)
  .github/workflows/semantic-release.yml
Due: unit, integration, simulator

ci: add SLSA provenance workflow (WF-13)
  .github/workflows/slsa-provenance.yml
Due: unit, integration, simulator

ci: add coverage upload workflow (WF-11)
  .github/workflows/coverage.yml
Due: unit, integration, simulator

ci: add cruft template sync validation (WF-15)
  .github/workflows/validate-cruft.yml
Due: unit, integration, simulator

ci: add FIPS compatibility check (WF-16)
  .github/workflows/fips-compatibility.yml
Due: unit, integration, simulator

fix(sonarcloud): add sonar-project.properties
  sonar-project.properties
Due: none

fix(sonarcloud): deploy sonarcloud.yml for williaby org
  .github/workflows/sonarcloud.yml
Due: unit, integration, simulator

fix(sonarcloud): use pip+requirements for dependency install
  .github/workflows/sonarcloud.yml
Due: unit, integration, simulator

chore(deps): remove dependabot.yml -- Renovate is now active
  .github/dependabot.yml
Due: unit, integration, simulator

chore(ci): remove deprecated validate-cruft workflow
  .github/workflows/validate-cruft.yml
Due: unit, integration, simulator

chore(ci): remove deprecated validate-cruft workflow (#8)
  .github/workflows/validate-cruft.yml
Due: unit, integration, simulator

fix(ci): remove unnecessary uv dependency steps from CodeQL workflow (#7)
  .github/workflows/codeql.yml
Due: unit, integration, simulator

feat(security): add TruffleHog secret-scanning pre-commit hook
  .pre-commit-config.yaml
Due: unit, integration, simulator

ci: stub Dependency & Standards Validation check
  .github/workflows/dependency-standards-validation.yml
Due: unit, integration, simulator

fix(scorecard): bump shared workflow SHA to post-OIDC-fix version
  .github/workflows/scorecard.yml
Due: unit, integration, simulator

security: OWASP LLM Top 10 review fixes and GitHub Actions hardening
  .github/workflows/codecov.yml
  .github/workflows/docker-pr.yml
  .github/workflows/docker-release.yml
  .github/workflows/fips-compatibility.yml
  .github/workflows/release.yml
  .github/workflows/repo-health.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test.yml
  SECURITY-FINDINGS.md
  server.py
  tools/version.py
  utils/conversation_memory.py
Due: unit, integration, simulator, MCP Tools (Core & Custom), Utility Modules, Server Core Logic

docs(tools): tighten MCP tool docstrings for fork-specific custom tools
  tools/custom/__init__.py
  tools/custom/dynamic_model_selector.py
  tools/custom/tiered_consensus.py
  tools/routing_status.py
Due: MCP Tools (Core & Custom)

fix(tools/custom): apply review feedback on custom tool docstrings
  tools/custom/__init__.py
  tools/custom/dynamic_model_selector.py
  tools/custom/tiered_consensus.py
  tools/routing_status.py
Due: MCP Tools (Core & Custom)

chore(ci): remove fips-compatibility.yml; repo has no FIPS components
  .github/workflows/fips-compatibility.yml
Due: unit, integration, simulator

test(security): add coverage for new security-fix code paths + Copilot review touch-ups
  .github/workflows/docker-release.yml
  tests/test_security_fixes.py
  tools/version.py
  utils/conversation_memory.py
Due: unit, integration, simulator, MCP Tools (Core & Custom), Utility Modules

fix(ci): activate pytest-cov in sonarcloud.yml
  .github/workflows/sonarcloud.yml
Due: unit, integration, simulator

fix(security): apply CodeRabbit review feedback on PR #16
  .github/workflows/docker-release.yml
  .github/workflows/sonarcloud.yml
  SECURITY-FINDINGS.md
  server.py
  tests/test_security_fixes.py
  tools/version.py
  utils/conversation_memory.py
Due: unit, integration, simulator, MCP Tools (Core & Custom), Utility Modules, Server Core Logic

test(security): cover the new VersionTool + tool-formatter sanitizer branches
  tests/test_security_fixes.py
Due: none

test(security): cover VersionTool success branches + CodeRabbit nitpicks
  tests/test_security_fixes.py
Due: none

test(security): cover fetch_github_version error paths + _default_turn_formatting
  tests/test_security_fixes.py
Due: none

test(security): tighten exception types + make version-check test hermetic
  tests/test_security_fixes.py
Due: none

chore(deps): add Renovate rule for org workflow SHA pin updates
  renovate.json
Due: none

chore(security): pin third-party Actions to commit SHAs
  .github/workflows/codecov.yml
  .github/workflows/docker-pr.yml
  .github/workflows/docker-release.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test.yml
Due: unit, integration, simulator

fix(slsa): download pre-built artifacts instead of rebuilding
  .github/workflows/slsa-provenance.yml
Due: unit, integration, simulator

chore: replace darglint with pydoclint
  .pre-commit-config.yaml
  config.py
  providers/base.py
  providers/custom.py
  providers/dial.py
  providers/gemini.py
  providers/openai.py
  providers/openai_compatible.py
  providers/openrouter.py
  providers/registry.py
  providers/registry_provider_mixin.py
  providers/shared/model_capabilities.py
  providers/shared/temperature.py
  providers/xai.py
  pyproject.toml
  requirements-dev.txt
  routing/__init__.py
  routing/complexity_analyzer.py
  routing/integration.py
  routing/model_level_router.py
  routing/model_wrapper.py
  server.py
  systemprompts/shared_instructions.py
  utils/client_info.py
  utils/conversation_memory.py
  utils/env.py
  utils/file_types.py
  utils/file_utils.py
  utils/image_utils.py
  utils/infisical.py
  utils/model_context.py
  utils/model_restrictions.py
  utils/security_config.py
  utils/token_utils.py
Due: unit, integration, simulator, AI Provider Integration, Utility Modules, System Prompts, Server Core Logic

feat(renovate): onboard Renovate with fleet-standard config
  renovate.json
Due: none

chore(mcp): add context7 and sonarqube MCP servers
  .gitignore
  .mcp.json
Due: unit, integration, simulator

Path conditions:
  unit: any of: .
  integration: any of: .
  simulator: any of: .
  MCP Tools (Core & Custom): any of: tools/
  AI Provider Integration: any of: providers/
  Utility Modules: any of: utils/
  System Prompts: any of: systemprompts/
  Server Core Logic: any of: server.py, server_setup.py
  Configuration Management: any of: conf/, config/
