Repository williaby/zen-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration, Utility Modules, System Prompts, Server Core Logic, Configuration Management

Path conditions:
  unit: any of: .
  integration: any of: .
  simulator: any of: .
  MCP Tools (Core & Custom): any of: tools/
  AI Provider Integration: any of: providers/
  Utility Modules: any of: utils/
  System Prompts: any of: systemprompts/
  Server Core Logic: any of: server.py, server_setup.py
  Configuration Management: any of: conf/, config/

fix: escape backslashes in TOML regex pattern
  pyproject.toml
Due: none

chore(release): 5.8.6
  CHANGELOG.md
Due: none

docs: update instructions for precommit
  docs/tools/precommit.md
Due: none

refactor: minor prompt tweaks
  tools/chat.py
  tools/shared/base_models.py
Due: MCP Tools (Core & Custom)

chore(release): 5.9.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: implement dynamic model routing with layered consensus protection
  DYNAMIC_ROUTING_IMPLEMENTATION.md
  DYNAMIC_ROUTING_TOOL_INTEGRATION.md
  conf_backup_20250821/conf/__init__.py
  conf_backup_20250821/conf/custom_models.json
  enable_dynamic_routing.sh
  routing/__init__.py
  routing/complexity_analyzer.py
  routing/hooks.py
  routing/integration.py
  routing/model_level_router.py
  routing/model_routing_config.json
  routing/model_wrapper.py
  routing/monitoring.py
  server.py
  tests/fixtures/routing_test_data.py
  tests/test_routing_integration.py
  tests/test_routing_scenarios.py
  tests/test_routing_system.py
  tools/custom/layered_consensus.py
  tools/routing_status.py
Due: MCP Tools (Core & Custom), Server Core Logic

WIP: tool description / schema updates
  tools/analyze.py
  tools/challenge.py
  tools/chat.py
  tools/codereview.py
  tools/consensus.py
  tools/debug.py
  tools/docgen.py
  tools/listmodels.py
  tools/planner.py
  tools/precommit.py
  tools/refactor.py
  tools/secaudit.py
  tools/testgen.py
  tools/thinkdeep.py
  tools/tracer.py
  tools/version.py
Due: MCP Tools (Core & Custom)

chore(release): 5.10.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: resolve google.genai dependency and zen server integration
  hub_server.py
Due: none

fix: resolve temperature handling issues for O3/custom models (#245)
  .gitignore
  providers/custom.py
  tools/consensus.py
Due: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration

fix: address test failures and PR feedback
  providers/custom.py
  tools/consensus.py
Due: MCP Tools (Core & Custom), AI Provider Integration

fix: another fix for https://github.com/BeehiveInnovations/zen-mcp-server/issues/251
  providers/gemini.py
Due: AI Provider Integration

chore(release): 5.10.2
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 5.10.3
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Codex CLI support docs: Update instructions to discover uvx automatically, may not be installed system wide
  README.md
  docs/getting-started.md
  run-server.sh
Due: none

chore(release): 5.11.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add comprehensive PromptCraft integration system
  data/promptcraft/channel_config.json
  data/promptcraft/experimental_models.json
  data/promptcraft/graduation_queue.json
  data/promptcraft/performance_metrics.json
  docs/models/README.md
  plugins/__init__.py
  plugins/dynamic_routing_plugin.py
  plugins/promptcraft_system/__init__.py
  plugins/promptcraft_system/api_server.py
  plugins/promptcraft_system/background_workers.py
  plugins/promptcraft_system/data_manager.py
  requirements.txt
  tests/test_promptcraft_core.py
  tests/test_promptcraft_integration.py
  tests/test_promptcraft_pytest.py
  tests/test_promptcraft_simple.py
Due: none

refactor: archive hub implementation and integrate plugin system
  DYNAMIC_ROUTING_PROTECTION.md
  archive/hub-implementation-20250825/CLAUDE_CODE_INTEGRATION.md
  archive/hub-implementation-20250825/CONTEXT_REDUCTION_RESULTS.md
  archive/hub-implementation-20250825/hub/__init__.py
  archive/hub-implementation-20250825/hub/config/__init__.py
  archive/hub-implementation-20250825/hub/config/hub_settings.py
  archive/hub-implementation-20250825/hub/config/tool_mappings.py
  archive/hub-implementation-20250825/hub/dynamic_function_loader.py
  archive/hub-implementation-20250825/hub/mcp_client_manager.py
  archive/hub-implementation-20250825/hub/task_detection.py
  archive/hub-implementation-20250825/hub/task_detection_config.py
  archive/hub-implementation-20250825/hub/tool_filter.py
  archive/hub-implementation-20250825/hub_server.py
  conf/custom_models.json
  config/default.yaml
  docs/planning/workflow-command-summary.md
  preserve-dynamic-routing.sh
  server.py
  test_context_reduction.py
  upgrade-with-routing-protection.sh
Due: Server Core Logic, Configuration Management

feat: add PromptCraft MCP stdio integration alongside HTTP API
  docs/promptcraft/mcp-client-api.md
  docs/promptcraft/mcp-integration-guide.md
  docs/promptcraft/migration-guide.md
  docs/promptcraft/troubleshooting.md
  tests/test_promptcraft_mcp_integration.py
  tools/custom/promptcraft_mcp_bridge.py
  tools/custom/promptcraft_mcp_client/__init__.py
  tools/custom/promptcraft_mcp_client/client.py
  tools/custom/promptcraft_mcp_client/error_handler.py
  tools/custom/promptcraft_mcp_client/models.py
  tools/custom/promptcraft_mcp_client/protocol_bridge.py
  tools/custom/promptcraft_mcp_client/subprocess_manager.py
Due: MCP Tools (Core & Custom)

style: apply code formatting and linting fixes
  archive/hub-implementation-20250825/hub_server.py
  plugins/__init__.py
  plugins/dynamic_routing_plugin.py
  plugins/promptcraft_system/__init__.py
  plugins/promptcraft_system/api_server.py
  plugins/promptcraft_system/background_workers.py
  plugins/promptcraft_system/data_manager.py
  routing/__init__.py
  routing/complexity_analyzer.py
  routing/hooks.py
  routing/integration.py
  routing/model_level_router.py
  routing/model_wrapper.py
  routing/monitoring.py
  tests/fixtures/routing_test_data.py
  tests/test_promptcraft_core.py
  tests/test_promptcraft_integration.py
  tests/test_promptcraft_pytest.py
  tests/test_promptcraft_simple.py
  tests/test_routing_integration.py
  tests/test_routing_scenarios.py
  tests/test_routing_system.py
  tools/routing_status.py
Due: MCP Tools (Core & Custom)

docs(workflow): add git repository rules and fix import ordering
  CLAUDE.md
  tests/test_consensus_models.py
  tests/test_tiered_consensus_integration.py
Due: none

chore: update gitignore for temporary analysis files
  .gitignore
Due: unit, integration, simulator

docs: add comprehensive code review for custom tools
  CUSTOM_TOOLS_REVIEW.md
Due: none

chore: remove obsolete layered consensus and PromptCraft integration
  tools/custom/promptcraft_mcp_bridge.py
  tools/custom/promptcraft_mcp_client/__init__.py
  tools/custom/promptcraft_mcp_client/client.py
  tools/custom/promptcraft_mcp_client/error_handler.py
  tools/custom/promptcraft_mcp_client/models.py
  tools/custom/promptcraft_mcp_client/protocol_bridge.py
  tools/custom/promptcraft_mcp_client/subprocess_manager.py
Due: MCP Tools (Core & Custom)

feat: add Infisical secrets management integration
  .env.example
  .gitignore
  .hadolint.yaml
  .infisical.json.example
  .qlty/.gitignore
  .qlty/configs/.hadolint.yaml
  .qlty/configs/.shellcheckrc
  .qlty/qlty.toml
  .shellcheckrc
  .tmp-infisical-implementation-summary.md
  INFISICAL_QUICKSTART.md
  INFISICAL_TEST_RESULTS.md
  docs/INFISICAL_SETUP.md
  pyproject.toml
  test_all_providers.py
  utils/env.py
  utils/infisical.py
Due: unit, integration, simulator, Utility Modules

chore: update PromptCraft data directory and model portfolio
  FORK_INVENTORY.md
  docs/models/models.csv
  plugins/promptcraft_system/data_manager.py
Due: none

chore: remove non-critical fork-specific files
  .qlty/.gitignore
  .qlty/configs/.hadolint.yaml
  .qlty/configs/.shellcheckrc
  .qlty/qlty.toml
  .tmp-infisical-implementation-summary.md
  COMPLETE_TOOL_LLM_MATRIX.md
  CUSTOM_TOOLS_ANALYSIS.md
  DYNAMIC_ROUTING_IMPLEMENTATION.md
  DYNAMIC_ROUTING_PROTECTION.md
  DYNAMIC_ROUTING_TOOL_INTEGRATION.md
  UPSTREAM_UPDATE_ANALYSIS.md
  docs/codecov-implementation.md
  docs/development/adrs/criticalreview.md
  docs/development/adrs/future.md
  docs/development/adrs/prepare-pr.md
  docs/development/adrs/quickreview.md
  docs/development/adrs/review.md
  docs/models/current-models.md
  docs/promptcraft/mcp-client-api.md
  docs/promptcraft/mcp-integration-guide.md
  docs/promptcraft/migration-guide.md
  docs/promptcraft/troubleshooting.md
  docs/tools/custom/model_evaluator.md
  docs/tools/custom/pr_prepare.md
  docs/tools/custom/pr_review.md
  tmp_cleanup/.tmp-adr-summary-20251109.md
  tmp_cleanup/.tmp-comprehensive-status-review-20251109.md
  tmp_cleanup/.tmp-consensus-architecture-gap-analysis-20251109.md
  tmp_cleanup/.tmp-consensus-deprecation-plan-20251109.md
  tmp_cleanup/.tmp-consensus-migration-analysis-20251110.md
  tmp_cleanup/.tmp-consensus-migration-complete-20251109.md
  tmp_cleanup/.tmp-model-registry-architecture-20251109.md
  tmp_cleanup/.tmp-phase2-completion-summary-20251109.md
  tmp_cleanup/.tmp-phase2-test-results-20251109.md
  tmp_cleanup/.tmp-tiered-consensus-implementation-20251109.md
  tmp_cleanup/.tmp-tiered-consensus-issues-and-improvements-20251110.md
  tmp_cleanup/.tmp-tiered-consensus-mcp-fix-20251110.md
  tmp_cleanup/.tmp-tiered-consensus-phase2-plan-20251109.md
  tmp_cleanup/.tmp-validation-summary-20251109.md
Due: unit, integration, simulator

fix: resolve remaining linting errors
  .qlty/logs
  .qlty/out
  .qlty/plugin_cachedir
  .qlty/results
  routing/complexity_analyzer.py
  tests/test_routing_integration.py
  tools/custom/dynamic_model_selector.py
Due: unit, integration, simulator, MCP Tools (Core & Custom)

fix: restore missing band_selector.py module
  tools/custom/band_selector.py
Due: MCP Tools (Core & Custom)

feat: add model metadata for dynamic selector with schema validation fix
  conf/openrouter_models.json
  providers/registries/openrouter.py
Due: AI Provider Integration, Configuration Management

fix: improve OpenAI API key validation to prevent dummy key registration
  server.py
Due: Server Core Logic

fix: update model aliases so Gemini 3 Pro is default for 'pro' and 'gemini'
  conf/gemini_models.json
  conf/openrouter_models.json
  routing/model_level_router.py
  simulator_tests/test_model_thinking_config.py
  tools/custom/band_selector.py
  tools/custom/tiered_consensus.py
Due: MCP Tools (Core & Custom), Configuration Management

feat: add GPT-5.2 and GPT-5.2 Pro models to OpenRouter config
  conf/openrouter_models.json
Due: Configuration Management

fix: update grok aliases so grok-4.1-fast is default for 'grok'
  conf/openrouter_models.json
Due: Configuration Management

feat: refresh OpenRouter model catalog for April 2026
  conf/openrouter_models.json
Due: Configuration Management

chore: add .worktrees/ to .gitignore
  .gitignore
Due: unit, integration, simulator

fix: resolve issues #2, #3, #4 — model strings, tool discovery, integration tests
  docs/models/models.csv
  tests/test_tiered_consensus_integration.py
  tools/custom/__init__.py
  tools/custom/band_selector.py
  tools/custom/consensus_models.py
Due: MCP Tools (Core & Custom)

fix(ci): drop Python 3.9 from codecov matrix; mcp requires >=3.10
  .github/workflows/codecov.yml
Due: unit, integration, simulator
