Repository williaby/zen-mcp-server: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, simulator, MCP Tools (Core & Custom), AI Provider Integration, Utility Modules, System Prompts, Server Core Logic, Configuration Management

fix(simulator): use sys.executable as Python fallback in CI
  communication_simulator_test.py
Due: none

fix(tests): skip promptcraft_mcp_integration when bridge module absent
  tests/test_promptcraft_mcp_integration.py
Due: none

style(tests): apply black 26.x formatting to 19 test files
  tests/test_alias_target_restrictions.py
  tests/test_auto_mode_custom_provider_only.py
  tests/test_auto_mode_provider_selection.py
  tests/test_buggy_behavior_prevention.py
  tests/test_custom_openai_temperature_fix.py
  tests/test_deploy_scripts.py
  tests/test_directory_expansion_tracking.py
  tests/test_docker_healthcheck.py
  tests/test_docker_implementation.py
  tests/test_docker_security.py
  tests/test_model_enumeration.py
  tests/test_model_resolution_bug.py
  tests/test_o3_temperature_fix_simple.py
  tests/test_openrouter_provider.py
  tests/test_prompt_regression.py
  tests/test_provider_routing_bugs.py
  tests/test_routing_scenarios.py
  tests/test_routing_system.py
  tests/test_thinking_modes.py
Due: none

fix(lint): resolve 9 ruff violations blocking CI lint gate
  plugins/__init__.py
  plugins/promptcraft_system/__init__.py
  providers/gemini.py
  tests/test_promptcraft_mcp_integration.py
Due: AI Provider Integration

fix(ci): resolve simulator, integration-tests, and routing failures
  .github/workflows/codecov.yml
  communication_simulator_test.py
  conf/custom_models.json
Due: unit, integration, simulator, Configuration Management

fix(ci): fix simulator coverage, revert is_custom, align cost heuristic
  .github/workflows/codecov.yml
  conf/custom_models.json
  routing/model_level_router.py
Due: unit, integration, simulator, Configuration Management

fix(security): remove silent exception discard in dangerous-path check
  utils/security_config.py
Due: Utility Modules

fix(writing): remove wrong-repo URLs and em-dashes from CHANGELOG
  CHANGELOG.md
Due: none

fix(errors): upgrade malformed OpenAI key log from DEBUG to WARNING
  server.py
Due: Server Core Logic

fix(code): consolidate cost-cap condition; add args to error logs
  tools/custom/band_selector.py
Due: MCP Tools (Core & Custom)

fix(metadata): update __updated__ date and __author__ to Byron Williams
  config.py
Due: none

fix(logging): add module logger; convert f-string debug calls
  providers/openai_compatible.py
Due: AI Provider Integration

fix(ci): add || true to integration coverage xml to prevent spurious failure
  .github/workflows/codecov.yml
Due: unit, integration, simulator

fix(tests): prevent infisical subprocess call on every test teardown
  tests/conftest.py
  utils/env.py
Due: Utility Modules

perf(ci): narrow unit test coverage scope from --cov=. to source dirs
  .github/workflows/test.yml
Due: unit, integration, simulator

fix(tests): skip consensus/tiered-consensus tests when pandas unavailable
  tests/test_consensus_models.py
  tests/test_tiered_consensus_integration.py
Due: none

perf(ci): narrow coverage.run source from root to source dirs
  pyproject.toml
  tests/test_directory_expansion_tracking.py
  tests/test_docker_implementation.py
  tests/test_prompt_regression.py
  tests/test_promptcraft_mcp_integration.py
Due: none

fix(ci): align black version between pre-commit and CI
  .pre-commit-config.yaml
  tests/test_directory_expansion_tracking.py
  tests/test_docker_implementation.py
  tests/test_prompt_regression.py
  tests/test_promptcraft_mcp_integration.py
Due: unit, integration, simulator

ci: add pytest-timeout to catch and fail hanging tests
  .github/workflows/codecov.yml
  .github/workflows/test.yml
  requirements-dev.txt
Due: unit, integration, simulator

ci: increase integration test timeout to 300s for Ollama inference
  .github/workflows/codecov.yml
Due: unit, integration, simulator

fix(tests): align test expectations with actual algorithm behavior and model catalog
  plugins/promptcraft_system/data_manager.py
  requirements-dev.txt
  routing/complexity_analyzer.py
  routing/hooks.py
  routing/integration.py
  routing/model_level_router.py
  tests/fixtures/routing_test_data.py
  tests/test_auto_mode_model_listing.py
  tests/test_config.py
  tests/test_consensus_models.py
  tests/test_custom_provider.py
  tests/test_model_resolution_bug.py
  tests/test_openrouter_provider.py
  tests/test_openrouter_registry.py
  tests/test_provider_routing_bugs.py
  tests/test_routing_integration.py
  tests/test_routing_scenarios.py
  tests/test_routing_system.py
Due: none

fix(promptcraft): resolve 4 remaining CI failures in background worker tests
  plugins/promptcraft_system/__init__.py
  plugins/promptcraft_system/background_workers.py
  tests/test_promptcraft_integration.py
  tests/test_promptcraft_pytest.py
Due: none

fix(consensus): cache DataFrame reference to fix Python 3.10 pandas TypeError
  tools/custom/consensus_models.py
Due: MCP Tools (Core & Custom)

fix(ci): correct coverage source in .coveragerc to fix unit-tests workflow
  .coveragerc
Due: unit, integration, simulator

fix(consensus): replace boolean string indexing to fix Python 3.10 pandas 2.3/numpy 2.2 bug
  tools/custom/consensus_models.py
Due: MCP Tools (Core & Custom)

fix(band_selector): remove string context column from sort to fix Python 3.10 fallback bug
  tools/custom/band_selector.py
Due: MCP Tools (Core & Custom)

fix(band_selector): replace boolean indexing in _apply_cost_criteria with iterrows+loc
  tools/custom/band_selector.py
Due: MCP Tools (Core & Custom)

fix(band_selector): rebuild DataFrames from dict lists to avoid RangeIndex.take
  tools/custom/band_selector.py
Due: MCP Tools (Core & Custom)

fix(ci): broaden Gemini import handler to catch all exceptions
  providers/gemini.py
Due: AI Provider Integration

fix(tests): ensure restriction-service cleanup runs on test failure
  tests/test_chat_codegen_integration.py
  tests/test_chat_cross_model_continuation.py
Due: none

fix(tests): skip Gemini SDK tests when SDK unavailable on Python 3.10
  tests/test_chat_codegen_integration.py
  tests/test_chat_cross_model_continuation.py
  tests/test_providers.py
Due: none

chore(release): 1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add CODE_OF_CONDUCT.md pointer to org-level policy
  CODE_OF_CONDUCT.md
Due: none

docs: add GOVERNANCE.md pointer to org-level policy
  GOVERNANCE.md
Due: none

ci: add repo-health placeholder workflow for branch protection
  .github/workflows/repo-health.yml
Due: unit, integration, simulator

ci: add REUSE compliance files (REUSE.toml)
  REUSE.toml
Due: none

ci: add REUSE compliance files (LICENSES/Apache-2.0.txt)
  LICENSES/Apache-2.0.txt
Due: none

ci: add REUSE compliance files (.github/workflows/reuse.yml)
  .github/workflows/reuse.yml
Due: unit, integration, simulator

ci: add Dependabot configuration (.github/dependabot.yml)
  .github/dependabot.yml
Due: unit, integration, simulator

ci: add security analysis workflow (WF-3)
  .github/workflows/security-analysis.yml
Due: unit, integration, simulator

Path conditions:
  unit: any of: .
  integration: any of: .
  simulator: any of: .
  MCP Tools (Core & Custom): any of: tools/
  AI Provider Integration: any of: providers/
  Utility Modules: any of: utils/
  System Prompts: any of: systemprompts/
  Server Core Logic: any of: server.py, server_setup.py
  Configuration Management: any of: conf/, config/
